
body {font-famly:Georgia, Times, serif;font-size: 18px}

h1 {
    font-famly: Arial, Verdana, sans-serif; font-size: 28px}

h2 {
    font-famly: Arial, Verdana, sans-serif; font-size: 24px}
h3 {
    font-famly: Arial, Verdana, sans-serif; font-size: 18px}

blockquote {
  font-style: italic
}

